{% extends 'base.html' %}

{% load static %}
{% block content %}

    <style>
    p{
        font-size: 16px;
        font-weight: bold;
    }
    label{
        font-size: 12px;
        font-weight: lighter;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="container-md">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Kontextus hozzáadása</h2>
                            <form method="POST" novalidate>
                                {% csrf_token %}
                                {{ form.cont.label_tag }}
                                {{ form.cont|safe }}
                                <br>
                                {{ form.file.label_tag }}
                                {{ form.file }}
                                <br>
                                {{ form.img.label_tag }}
                                {{ form.img }}
                                <br>
                                <button type="submit" class="btn btn-primary">Kontextus hozzáadása</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-md">
                    <div class="row">
                        <h2>Eddig előre megadott kontextus:</h2>
                    </div>
                    <br>
                    <div class="row">
                        {{ context| safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
```