{% extends 'base.html' %}

{% load static %}
{% block content %}

    <div class="container">
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Profile</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container">
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <h2>New Chat</h2>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12">
                                    <a href="{% url 'new_chat' %}" class="btn btn-primary">New Chat</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for user in chats %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                <h2>{{ user.title }}</h2>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12">
                                    <p>{{ user.context }}</p>
                                </div>
                                <div class="col-md-12">
                                   <a id = 'cid' name = 'chat' href="{% url 'chat' user.pk %}" class="btn btn-primary">Open Chat</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                    <h5>You are not logged in</h5>
                {% endif %}
            </div>
        </div>
    </div>
     {% endblock %}
